.navbar {
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
	padding: 10px;
	background: rgba(0, 0, 0, 0.13);
}

button.navbar-toggle {
	border-radius: 0;
}

span.icon-bar {
	background-color: #4d4d4d !important;
}

.jumbotron.main{
	height: 100vh;
	background-color: black;
	color:  #f2f2f2;
}

h1 {
	font-family: 'Raleway', sans-serif;
	position: relative;
}

p.lead {
	font-family: 'Merriweather', serif;
	font-style: italic;
}

div#main-text {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left:50px;
    text-align: left;
}

p.about {
	font-family: 'Merriweather', serif;
	font-size: 1em;
}

div#about {
	padding: 99px;
}

h1#page-break{
	font-size: 100px;
}

@media only screen and (max-width: 690px) {
	h1#page-break {
		font-size: 79px;
	}
}

div#skills {
	padding: 66px;
}

i#skill {
	max-width: 1.8em;
	font-family: 'devicon';
	padding: 10px;
/*	color: white;
	background-color: black;*/
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.devicon > p {
	font-size: 20px;
}


@media only screen and (min-width: 847px) {
	i#skill {
		font-size: 6em;
		margin: 66px;
	}
}

@media only screen and (max-width: 847px) {
	i#skill {
		font-size: 4em;
		margin: 53px;
	}
}

@media only screen and (max-width: 685px) {
	i#skill {
		font-size: 4em;
		margin: 52px;
	}
}

@media only screen and (max-width: 678px) {
	i#skill {
		font-size: 3.8em;
		margin: 46px;
	}
}

@media only screen and (max-width: 635px) {
	i#skill {
		font-size: 2em;
		margin: 35px;
	}
}

@media only screen and (max-width: 494px) {
	i#skill {
		font-size: 2em;
		margin: 19px;
		line-height: 2 !important;
	}
}

div#portfolio {
	padding: 66px;
	padding-bottom: 145px;
	margin-top: 31px;
	background-color: black;
	color:  #f2f2f2 !important;
}

hr#greyer {
	color: #8c8c8c;
	border-color: #8c8c8c;
}

div.portfolio-item {
	padding: 10px;
	font-family: 'Merriweather', serif;
	font-size: 1em;
	color:   #8c8c8c !important;
}

img {
	padding: 10px;
	margin: 16px;
	max-width: 266px;
}

div.app {
	display: inline-block;
	height: 130px;
	width: 266px;
	padding: 10px;
	margin: 16px;
	max-width: 266px;
	border-radius: 60px;
}

h3.app-title{
	vertical-align: middle;
	line-height: 71px;
	font-size: 40px;
}

div#schedulister-app {
	font-family: 'Lobster', cursive;
	color: #FFF;
	background-color: #5B3256;
}

div#playlist-app {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
	background-color: #3A539B;
}

h3.ply-title {
	font-weight: lighter;
	font-size: 35px;
}

div#tattoo-app {
	font-family: 'Quintessential', cursive;
	color: #FFF;
	background-color: #9c3493;
}

h3.tat-title {
	font-size: 41px;
	font-weight: lighter;
	font-style: italic;
}

div#contact {
	padding: 66px;
	font-family: 'Merriweather', serif;
	font-size: 0.9em;
}

.form-control{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn.btn-default {
	border-radius: 0;
}