.navbar {
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
	padding: 10px;
	background: rgba(0, 0, 0, 0.13);
}

body {
	min-width: 600px;
}

button.navbar-toggle {
	border-radius: 0;
}

span.icon-bar {
	background-color: #4d4d4d !important;
}

.jumbotron.main{
	height: 100vh;
	background-color: black;
	color:  #f2f2f2;
}

h1 {
	font-family: 'Raleway', sans-serif;
	position: relative;
}

p.lead {
	font-family: 'Merriweather', serif;
	font-style: italic;
}

div#main-text {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left:50px;
    text-align: left;
}

p.about {
	font-family: 'Merriweather', serif;
	font-size: 1em;
}

div#about {
	padding: 99px;
}

h1#page-break{
	font-size: 100px;
}

@media only screen and (max-width: 1440px) {
	.col-odd{
	    margin-left: 30vw;
	}

	.col-even{
		margin-left: 36vw;
	}
}

@media only screen and (max-width: 1200px) {
	.col-odd{
	    margin-left: 25vw;
	}

	.col-even{
		margin-left: 32vw;
	}
}

@media only screen and (max-width: 1100px) {
	.col-odd{
	    margin-left: 24vw;
	}

	.col-even{
		margin-left: 32vw;
	}
}

@media only screen and (max-width: 953px) {
	.col-odd{
	    margin-left: 19vw;
	}

	.col-even{
		margin-left: 27vw;
	}
}


@media only screen and (max-width: 860px) {
	h1#page-break {
		font-size: 79px;
	}

	.col-odd{
	    margin-left: 7vw;
	}

	.col-even{
		margin-left: 19vw;
	}
}

@media only screen and (max-width: 650px) {
	.col-odd{
	    margin-left: 3vw;
	}

	.col-even{
		margin-left: 15vw;
	}
}


div#skills {
	padding: 66px;
}

div.skill {
	float: left;
	margin: 1em 2em; width: 100px; height: 100px; 	
	display: block; text-align: center; line-height:103px;
	font-family: 'Merriweather', serif;
	position: relative;
	transform:rotateY(0deg);
	transition:transform .25s ease-out;
	transform-style:preserve-3d;
}

div.skill > div {
	width: 100px; height: 100px; background: #FFF;
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
}

div.skill >.front {
	font-size: 4em;
	transform:translateZ(40px);
}
div.skill >.back {
	background:  #333; font-size: 18px;
	color: #FFF;
	transform:rotateY(-100deg) translateZ(40px);
}

div.skill:hover {
	transform: rotateY(100deg);
}

div#portfolio {
	padding: 66px;
	padding-bottom: 165px;
	margin-top: 31px;
	background-color: black;
	color:  #f2f2f2 !important;
}

hr#greyer {
	color: #8c8c8c;
	border-color: #8c8c8c;
}

div.portfolio-item {
	padding: 10px;
	font-family: 'Merriweather', serif;
	font-size: 1em;
	color:   #8c8c8c !important;
}

img {
	padding: 10px;
	margin: 16px;
	max-width: 266px;
}

div.app {
	display: inline-block;
	height: 130px;
	width: 266px;
	padding: 10px;
	margin: 16px;
	max-width: 266px;
	border-radius: 60px;
	cursor: pointer;
}

h3.app-title{
	vertical-align: middle;
	line-height: 71px;
	font-size: 40px;
}

div#schedulister-app {
	font-family: 'Lobster', cursive;
	color: #FFF;
	background-color: #5B3256;
}

div#playlist-app {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
	background-color: #3A539B;
}

h3.ply-title {
	font-weight: lighter;
	font-size: 35px;
}

div#tattoo-app {
	font-family: 'Quintessential', cursive;
	color: #FFF;
	background-color: #9c3493;
}

h3.tat-title {
	font-size: 41px;
	font-weight: lighter;
	font-style: italic;
}

div#contact {
	padding: 66px;
	font-family: 'Merriweather', serif;
	font-size: 0.9em;
}

.form-control{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn.btn-default {
	border-radius: 0;
}